# Matlab autosaves
*.m~

# mat, bin, and logfiles sitting in Ardupilog top directory
/*.mat
/*.bin
/*.BIN
/*.log
/*.tlog

# All logs in the testing directory
/testing/*.bin
/testing/*.BIN
/testing/*/*.bin
/testing/*/*.BIN
/testing/test_results.txt

# The logs directory, it's meant for the user
/logs/*
